<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004636433134-95okedktcu0bvr36q181ot81fkmb9u96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004636433134-95okedktcu0bvr36q181ot81fkmb9u96</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1004636433134-7ajlch14g5utlr8lt6koe245pci21lec.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBS0fpkb1XTlGVA3RCIpCtaOMIP_us9lf8</string>
	<key>GCM_SENDER_ID</key>
	<string>1004636433134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ethicaldigit.gmp</string>
	<key>PROJECT_ID</key>
	<string>gmp-dev-19352</string>
	<key>STORAGE_BUCKET</key>
	<string>gmp-dev-19352.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004636433134:ios:fccc428cfe97d7645ce1ff</string>
</dict>
</plist>